Source: fantable
Section: embedded
Priority: optional
Maintainer: Giorgio Tropiano <giorgiotropiano@gmail.com>
Build-Depends: debhelper (>= 10), autotools-dev, autoconf-archive
Standards-Version: 4.1.2
Homepage: https://github.com/everdrone/jetson-fan-table

Package: fantable
Architecture: arm64
Depends: ${misc:Depends}
Description: Jetson Fan Temperature Table Controller
 Daemon to control the fan speed of the NVIDIA Jetson Nano
 by doing a 2-dimensional linear interpolation of a
 <temperature>-<speed> table
